
<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= full_title(yield(:title)) %>  | <%= t "layouts.application.title" %></title>
=======
    <title><%= yield(:title) %> | <%= t "layouts.application.title" %></title>
>>>>>>> master
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
